@use "global.scss" as *;
//USER SIGNUP STYLES
.section{
    background-color: $background;
   
}
.form-bg{
    background-color: $sub-sec-col-1;
}
.form-header {
    @include h5font;
    color: $ter-col;
}

label{
    color: $ter-col !important;
    @include pfont;
}
//Usersignin
p{
    color: $ter-col;
    @include pfont;
}
a{
    text-decoration: none;
    @include pfont;
}
.forgot{
color: $ter-col;
}
//cards
//services cards
.card-bg{
    background-color: $sub-sec-col-1 !important;
    color: $ter-col !important;
}
//services sessions
.card-con{
    background-color: $sub-sec-col-1;
    color: $ter-col !important;
}
// .navling {
//     background-color: #00DF75;
//     @include pfonts;
//     color: $pry-col;

//     justify-content: space-evenly;
// }

#navdrop {
    background-color: $background;
    @include h2fonts;
}

.dpdown {
    font-family: sans-serif;
    font-size: 300px;
}
=======
//HERO IMAGE
.bgimage {
    width:100%;
    height:700px;
    background: url('../images/home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    // background-attachment: fixed;
  }
  .bgimage h1 {
    color:$background;
    @include h1font
    // text-shadow:2px 2px #333;
  }
  .bgimage h2 {
    color: $background;
    @include h2font;
  }
  .sec-2 h3{
    color: $ter-col;
    @include h3font;

  }
  .sec-3 p {
    @include pfont;
  }

  .mid{
    // border: solid red;
    position: absolute !important;
    top: 45%;
    
  }
  //HOMEPAGE
  .bg{
    background-image: url(../images/Rectangle\ 63.png);
  }
  .bt-text h3{
    color: $ter-col !important;
    @include h3font;
  }
  .sec-4 h4{
    color: $ter-col !important;
    @include h4font;
  }
  //HERO QUERIES
  @media(max-width:650px){
    .bgimage {
        width:100%;
        height:500px;
        background: url('../images/home.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        // background-attachment: fixed;
      }
      .mid{
        // border: solid red;
        padding: 15px;
        position: absolute !important;
        top: 0%;
        
      }

  
